menu "Xiaozhi Assistant"

config OTA_URL
    string "Default OTA URL"
    default "https://api.tenclass.net/xiaozhi/ota/"
    help
        The application will access this URL to check for new firmwares and server address.

config USE_CUSTOM_OTA
    bool "Use Custom OTA"
    default n
    help
        Enable Custom OTA

config CUSTOM_OTA_VERSION_URL
    depends on USE_CUSTOM_OTA
    string "Custom OTA Version URL"
    default "http://xiaozhi.doit.am/ota/ota.php"
    help
        The application will access this URL to check for updates.

config CONNECTION_FORCE_FIXED_WEBSOCKET
    bool "Force Fixed Websocket"
    default n
    help
        Force Fixed Websocket

config WEBSOCKET_URL
    depends on CONNECTION_FORCE_FIXED_WEBSOCKET
    string "Websocket URL"
    default "wss://api.tenclass.net/xiaozhi/v1/"
    help
        Communication with the server through websocket after wake up.

config WEBSOCKET_ACCESS_TOKEN
    depends on CONNECTION_FORCE_FIXED_WEBSOCKET
    string "Websocket Access Token"
    default "test-token"
    help
        Access token for websocket communication.

choice
    prompt "Default Language"
    default LANGUAGE_ZH_CN
    help
        Select device display language

    config LANGUAGE_ZH_CN
        bool "Chinese"
    config LANGUAGE_ZH_TW
        bool "Chinese Traditional"
    config LANGUAGE_EN_US
        bool "English"
    config LANGUAGE_JA_JP
        bool "Japanese"
endchoice

config BOARD_PATH
    string "Board Path"
    default "../../firmware/doit/doit-ai-01-kit"
    help
        Board Path

config ASSETS_PATH
    string "Assets Path"
    default "assets"
    help
        Assets Path

config ASSETS_FIX_PATH
    string "Assets Fix Path"
    default ""
    help
        Assets Fix Path

config USE_WECHAT_MESSAGE_STYLE
    bool "Enable WeChat Message Style"
    default n
    help
        使用微信聊天界面风格

config USE_ESP_WAKE_WORD
    bool "Enable Wake Word Detection (without AFE)"
    default n
    depends on IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32C5
    help
        支持 ESP32 C3 与 ESP32 C5

config USE_AFE_WAKE_WORD
    bool "Enable Wake Word Detection (AFE)"
    default y
    depends on (IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32P4) && SPIRAM
    help
        需要 ESP32 S3 与 PSRAM 支持

config USE_AUDIO_PROCESSOR
    bool "Enable Audio Noise Reduction"
    default y
    depends on (IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32P4) && SPIRAM
    help
        需要 ESP32 S3 与 PSRAM 支持

config USE_DEVICE_AEC
    bool "Enable Device-Side AEC"
    default n
    help
        因为性能不够，不建议和微信聊天界面风格同时开启

config USE_SERVER_AEC
    bool "Enable Server-Side AEC (Unstable)"
    default n
    help
        启用服务器端 AEC，需要服务器支持

config USE_AUDIO_DEBUGGER
    bool "Enable Audio Debugger"
    default n
    help
        启用音频调试功能，通过UDP发送音频数据

config AUDIO_DEBUG_UDP_SERVER
    string "Audio Debug UDP Server Address"
    default "192.168.2.100:8000"
    depends on USE_AUDIO_DEBUGGER
    help
        UDP服务器地址，格式: IP:PORT，用于接收音频调试数据

choice IOT_PROTOCOL
    prompt "IoT Protocol"
    default IOT_PROTOCOL_MCP
    help
        IoT 协议，用于获取设备状态与发送控制指令
    config IOT_PROTOCOL_MCP
        bool "MCP 2024-11-05"
    config IOT_PROTOCOL_XIAOZHI
        bool "Xiaozhi IoT 1.0 (Deprecated)"
endchoice

menu "wifi config mode"
config WIFI_CONFIG_MODE_SSID_PREFIX
    string "wifi config mode ssid prefix"
    default "xiaozhi"

config WIFI_CONFIG_MODE_AUTO_DELAY_RELEASE_DECODER_TIME
    int "wifi config mode delay auto release decoder time"
    default -1

config WIFI_CONFIG_MODE_FORMAT_DISPLAY
    bool "wifi config mode format display"
    default n
endmenu

menu "ui"
    config UI_STATUS_BAR_PAD
        int "Status Sar Pad"
        default 2
        help
            状态栏左右间距  
endmenu

config SPEAKING_FIRST_MUTE_TIME
    int "speaking first mute time"
    default 0
    help
        讲话之前静音时间

config USE_AUDIO_CODEC_ENCODE_OPUS
    select USE_CUSTOM_TASK_STACK_SIZE
    bool "use audio codec encode opus"
    default y

config USE_AUDIO_CODEC_DECODE_OPUS
    select USE_CUSTOM_TASK_STACK_SIZE
    bool "use audio codec decode opus"
    default n

config USE_CUSTOM_TASK_STACK_SIZE
    bool "use custom task stack size"
    default n

config TACKGROUND_TASK_STACK_SIZE
    depends on USE_CUSTOM_TASK_STACK_SIZE
    int "background task stack size"
    default 2048 if ((IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C3) && (USE_AUDIO_CODEC_ENCODE_OPUS && USE_AUDIO_CODEC_DECODE_OPUS))
    default 8960 if ((IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C3) && (USE_AUDIO_CODEC_ENCODE_OPUS))
    default 26624 if ((IDF_TARGET_ESP32C2 || IDF_TARGET_ESP32C3))
    default 28672

config AUDIO_LOOP_TASK_STACK_SIZE
    depends on USE_CUSTOM_TASK_STACK_SIZE
    int "audio_loop task stack size"
    default 2048 if IDF_TARGET_ESP32C2
    default 8192

endmenu
