menu "Xiaozhi Assistant"

config OTA_URL
    string "Default OTA URL"
    default "https://api.tenclass.net/xiaozhi/ota/"
    help
        The application will access this URL to check for new firmwares and server address.

config USE_CUSTOM_OTA
    bool "Use Custom OTA"
    default n
    help
        Enable Custom OTA

config CUSTOM_OTA_VERSION_URL
    depends on USE_CUSTOM_OTA
    string "Custom OTA Version URL"
    default "http://xiaozhi.doit.am/ota/ota.php"
    help
        The application will access this URL to check for updates.

choice
    prompt "语言选择"
    default LANGUAGE_ZH_CN
    help
        Select device display language

    config LANGUAGE_ZH_CN
        bool "Chinese"
    config LANGUAGE_ZH_TW
        bool "Chinese Traditional"
    config LANGUAGE_EN_US
        bool "English"
    config LANGUAGE_JA_JP
        bool "Japanese"
endchoice

config BOARD_PATH
    string "Board Path"
    default "../../firmware/doit/doit-ai-01-kit"
    help
        Board Path

config ASSETS_PATH
    string "Assets Path"
    default "assets"
    help
        Assets Path

config USE_WECHAT_MESSAGE_STYLE
    bool "使用微信聊天界面风格"
    default n
    help
        使用微信聊天界面风格

menu "UI"
    config UI_STATUS_BAR_PAD
        int "Status Sar Pad"
        default 2
        help
            状态栏左右间距  
endmenu

config SPEAKING_FIRST_MUTE_TIME
    int "speaking first mute time"
    default 0
    help
        讲话之前静音时间

config USE_AUDIO_CODEC_ENCODE_OPUS
    bool "use audio codec encode opus"
    default y

config USE_AUDIO_CODEC_DECODE_OPUS
    bool "use audio codec decode opus"
    default n

config USE_WAKE_WORD_DETECT
    bool "启用唤醒词检测"
    default y
    depends on IDF_TARGET_ESP32S3 && SPIRAM
    help
        需要 ESP32 S3 与 AFE 支持

config USE_AUDIO_PROCESSOR
    bool "启用音频降噪、增益处理"
    default y
    depends on IDF_TARGET_ESP32S3 && SPIRAM
    help
        需要 ESP32 S3 与 AFE 支持

config USE_REALTIME_CHAT
    bool "启用可语音打断的实时对话模式（需要 AEC 支持）"
    default n
    help
        需要 ESP32 S3 与 AEC 开启，因为性能不够，不建议和微信聊天界面风格同时开启
endmenu
