menu "VB6824"
	choice VB6824_TYPE
    prompt "VB6924"
    default VB6824_TYPE_OPUS_16K_20MS_PCM_16K
    help
        VB6824支持的类型
    config VB6824_TYPE_PCM_16K
        depends on !IDF_TARGET_ESP32C2
        bool "PCM 16K"
    config VB6824_TYPE_OPUS_16K_20MS_PCM_16K
        bool "OPUS 16K 20ms(input) + PCM 16K(output)"
	endchoice
endmenu
